<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body>
  <!-- Your Code Goes Here -->
  <% if(movieName){ %>
    <h1><%= movieName %></h1>
    <p><%= fileLine %></p>
    <a href="/" style= "color: white ">Home</a>
  <% } %>
</body>

</html>